.board-cell, .board-cell-image {
    width: 64px;
    height: 64px;
}

.board-cell {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}

.board-cell-image {
    position: absolute;
}
