root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf

[*.cs]
# Less merge conflicts
resharper_csharp_trailing_comma_in_multiline_lists = true

# Type visibility
resharper_csharp_object_creation_when_type_evident = explicitly_typed

# Disable inconsistent Rider's namespace suggestions
# See: https://github.com/JetBrains/resharper-unity/issues/2427
resharper_check_namespace_highlighting=none